/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';

// global

* {
    font-family: $font-lato;
}

*:focus {
    outline: none;
}

div.content{
    padding:10px;
}

.page-header  {
    font-weight: 700;
    font-size: 22px;
    color: map-get($colors,accent);
}

.page-subheader{
    font-weight: 700;
    font-size: 13px;
    color: map-get($colors,faded);
}


// utilities
.no-padding {
    padding: 0px;
}

.text-center {
    text-align: center;
}




// components
.btn {
    border: 0px !important;
    height: 30px;
    font-weight: 11px;
    font-weight: $font-bold;
}