<div class="main-content">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="page-header text-center">Just one more step!</div>
      <div class="page-subheader text-center">create user account</div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <form #form [formGroup]="userRegistrationForm">
        <div class="input-group">
          <span class="ui-float-label">
            <input type="text" pInputText [(ngModel)]="user.userName" formControlName="userName">
            <label for="float-input">Email</label>
          </span>
        </div>
        <div class="input-group">
          <span class="ui-float-label">
            <input type="text" pInputText [(ngModel)]="user.phoneNumber" formControlName="phoneNumber">
            <label for="float-input">Phone Number</label>
          </span>
        </div>
        <div class="input-group">
          <span class="ui-float-label">
            <input type="password" pInputText [(ngModel)]="user.password" formControlName="password">
            <label for="float-input">Password</label>
          </span>
        </div>
        <div class="input-group">
          <span class="ui-float-label">
            <input type="password" pInputText [(ngModel)]="user.confirmPassword" formControlName="confirmPassword" #confirmPassword>
            <label for="float-input">Password</label>
          </span>
         
        
        </div>

      </form>
      <div class="button-container">
        <div class="ui-g">
          <button class="btn btn-signup" pButton type="button" label="Sign up" (click)="signup(userRegistrationForm)" icon="fas fa-user-circle"
            iconPos="right"></button>
        </div>

      </div>
    </div>
  </div>
