<div class="ui-g top-menu-bar">
  <div class="ui-g-5 no-padding brand">
    <div class="logo-wrapper">
      <img src="/assets/nepali_roommate_logo.svg" class="logo">
    </div>
    <span class="logo-text">Sample Roommate</span>

  </div>
  <div class="ui-g-7 no-padding top-menu-wrapper">
    <ul class="top-menu">
      <li class="top-menu-item">
        <a href="/">HOME</a>
      </li>
      <li class="top-menu-item">
        <a href="/signup">LIST ROOM</a>
      </li>
      <li class="top-menu-item">
        <a href="#">POST ADD</a>
      </li>
      <li class="top-menu-item">
        <a href="#" (click)="onLoginClick()">SIGN IN</a>
      </li>
      <li class="top-menu-item">
        <button pButton type="button" label="JOIN" class="btn btn-login" (click)="navigate('signup')"></button>
      </li>
    </ul>
  </div>
</div>