@import '~sass/variables';
@import '~sass/mixins';
.top-menu-bar {
    position: relative;
    background-color: map-get($colors, accent);
    height: 50px;
    padding-left: 15px;
}

.brand {
    position: relative;
}

.logo-text {
    margin-left: 70px;
    display: inline-block;
    color: white;
    height: 50px;
    font-weight: $font-bold;
    font-family: $font-debby !important;
    line-height: 50px;
    font-size: 22px;
    width: 180px;
    letter-spacing: 1.5px;
    padding-left: 20px;
}

.logo-wrapper {
    position: absolute;
    background-color: map-get($colors, danger);
    width: 74px;
    height: 44px;
    text-align: center;
    padding: 3px;
    display: inline-block;
}

.logo {
    margin: 0 auto;
    margin-top: 5px;
    height: 30px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.top-menu {
    position: absolute;
    right: 10px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    .top-menu-item {
        list-style-type: none;
        display: inline-block;
        font-weight: $font-bold;
        font-size: 11px;
        letter-spacing: 0.8px;
        width: 95px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        a {
            display: inline-block;
            text-decoration: none !important;
            color: map-get($colors, light);
            width: 100%;
            line-height: 50px;
            &:hover {
                background-color: map-get($colors, primary);
            }
        }
    }
    .btn-login {
        background-color: map-get($colors, danger);
        color: map-get($colors, light);
    }
}